openapi: 3.1.0
info:
  title: API Gestion d'Événements
  version: 1.1.0
  description: >
    API pour gérer les événements, les lieux et les types d'événements.
    Authentification requise pour la création d'événements.

servers:
  - url: https://api.reny_event.com/v1
    description: Serveur de production
  - url: http://localhost:3000/v1
    description: Serveur local de développement

paths:
  /auth/connexion:
    post:
      summary: Connexion utilisateur
      description: Authentifie un utilisateur et retourne un cookie JWT
      tags:
        - Authentification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnexionRequest'
            example:
              login: "admin"
              mot_de_passe: "admin123"
      responses:
        '200':
          description: Connexion réussie
          headers:
            Set-Cookie:
              schema:
                type: string
              example: "session_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...; HttpOnly; Path=/; Expires=Wed, 21 Oct 2024 07:28:00 GMT"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnexionResponse'
        '401':
          description: Identifiants invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/deconnexion:
    post:
      summary: Déconnexion utilisateur
      description: Déconnecte l'utilisateur en supprimant le cookie JWT
      tags:
        - Authentification
      responses:
        '200':
          description: Déconnexion réussie
          headers:
            Set-Cookie:
              schema:
                type: string
              example: "session_token=; HttpOnly; Path=/; Expires=Thu, 01 Jan 1970 00:00:00 GMT"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Déconnexion réussie"

  /evenements:
    post:
      summary: Créer un nouvel événement
      description: >
        Crée un événement avec ses tarifs, types de places et fichiers associés.
        REQUIERT une authentification JWT (cookie session_token)
      tags:
        - Événements
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvenementCreation'
            example:
              titre: "Concert Coldplay 2024"
              description: "Concert exceptionnel de Coldplay avec setlist spécial"
              date_debut: "2024-07-15T20:00:00Z"
              date_fin: "2024-07-15T23:30:00Z"
              type_evenement: "Concert"
              lieu:
                nom: "Stade Barea Mahamasina"
                adresse: "Mahamasina, Antananarivo"
                ville: "Antananarivo"
                capacite: 5000
              tarifs:
                - type_place: "VIP"
                  prix: 250000
                  nombre_places: 100
                - type_place: "Standard"
                  prix: 75000
                  nombre_places: 2000
      responses:
        '201':
          description: Événement créé avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "e7b8c2f1-1234-4c1a-8b9f-12ef34567890"
                  message:
                    type: string
                    example: "Événement créé avec succès"
        '400':
          description: Données invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Non authentifié
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erreur interne du serveur

  /evenements/{id}:
    get:
      summary: Obtenir les détails d'un événement
      description: >
        Récupère les informations détaillées d'un événement spécifique 
        incluant les tarifs, statistiques de places et fichiers associés.
        ACCÈS PUBLIC - Aucune authentification requise
      tags:
        - Événements
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: "e7b8c2f1-1234-4c1a-8b9f-12ef34567890"
      responses:
        '200':
          description: Détails de l'événement récupérés avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvenementDetail'
        '404':
          description: Événement non trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /evenements/{evenementId}/fichiers/{fichierId}/contenu:
    get:
      summary: Télécharger un fichier d'événement
      description: >
        Récupère le contenu binaire d'un fichier associé à un événement.
        ACCÈS PUBLIC - Aucune authentification requise
      tags:
        - Événements
      parameters:
        - name: evenementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: "e7b8c2f1-1234-4c1a-8b9f-12ef34567890"
        - name: fichierId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: "c3d4e5f6-7890-12cd-ef12-3456789012cd"
      responses:
        '200':
          description: Fichier téléchargé avec succès
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
              example: "attachment; filename=\"affiche.jpg\""
        '404':
          description: Fichier non trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: session_token

  schemas:
    ConnexionRequest:
      type: object
      required:
        - login
        - mot_de_passe
      properties:
        login:
          type: string
          example: "admin"
        mot_de_passe:
          type: string
          example: "admin123"

    ConnexionResponse:
      type: object
      properties:
        message:
          type: string
          example: "Connexion réussie"
        utilisateur:
          type: object
          properties:
            id:
              type: string
              format: uuid
              example: "123e4567-e89b-12d3-a456-426614174000"
            login:
              type: string
              example: "admin"

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: "Message d'erreur détaillé"

    EvenementCreation:
      type: object
      required:
        - titre
        - date_debut
        - date_fin
        - type_evenement
        - lieu
        - tarifs
      properties:
        titre:
          type: string
          example: "Concert Coldplay 2024"
        description:
          type: string
          example: "Concert exceptionnel"
        date_debut:
          type: string
          format: date-time
        date_fin:
          type: string
          format: date-time
        type_evenement:
          type: string
          example: "Concert"
        lieu:
          type: object
          required:
            - nom
            - adresse
            - ville
            - capacite
          properties:
            nom:
              type: string
              example: "Stade Barea Mahamasina"
            adresse:
              type: string
              example: "Mahamasina, Antananarivo"
            ville:
              type: string
              example: "Antananarivo"
            capacite:
              type: integer
              example: 5000
        tarifs:
          type: array
          items:
            type: object
            required:
              - type_place
              - prix
              - nombre_places
            properties:
              type_place:
                type: string
                example: "VIP"
              prix:
                type: number
                format: float
                example: 250000
              nombre_places:
                type: integer
                example: 100
        fichiers:
          type: array
          items:
            $ref: '#/components/schemas/FichierCreation'

    FichierCreation:
      type: object
      required:
        - nom_fichier
        - type_mime
        - type_fichier
        - donnees_base64
      properties:
        nom_fichier:
          type: string
          example: "affiche.jpg"
        type_mime:
          type: string
          example: "image/jpeg"
        type_fichier:
          type: string
          enum: [photo, affiche, document]
          example: "affiche"
        donnees_base64:
          type: string
          example: "/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAABAAEDASIAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAv/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAX/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwCdABmX/9k="

    EvenementDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "e7b8c2f1-1234-4c1a-8b9f-12ef34567890"
        titre:
          type: string
          example: "Concert Coldplay 2024"
        description:
          type: string
          example: "Concert exceptionnel de Coldplay avec setlist spécial"
        date_debut:
          type: string
          format: date-time
          example: "2024-07-15T20:00:00Z"
        date_fin:
          type: string
          format: date-time
          example: "2024-07-15T23:30:00Z"
        type_evenement:
          type: object
          properties:
            id:
              type: string
              format: uuid
              example: "123e4567-e89b-12d3-a456-426614174000"
            nom:
              type: string
              example: "Concert"
            description:
              type: string
              example: "Événement musical avec artistes sur scène"
        lieu:
          type: object
          properties:
            id:
              type: string
              format: uuid
              example: "456e4567-e89b-12d3-a456-426614174000"
            nom:
              type: string
              example: "Stade Barea Mahamasina"
            adresse:
              type: string
              example: "Mahamasina, Antananarivo"
            ville:
              type: string
              example: "Antananarivo"
            capacite:
              type: integer
              example: 5000
        tarifs:
          type: array
          items:
            $ref: '#/components/schemas/TarifDetail'
        fichiers:
          type: array
          items:
            $ref: '#/components/schemas/FichierInfo'
        statistiques:
          $ref: '#/components/schemas/EvenementStats'

    TarifDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "789e4567-e89b-12d3-a456-426614174000"
        prix:
          type: number
          format: float
          example: 250000
        nombre_places:
          type: integer
          example: 100
        type_place:
          type: object
          properties:
            id:
              type: string
              format: uuid
              example: "890e4567-e89b-12d3-a456-426614174000"
            nom:
              type: string
              example: "VIP"
            description:
              type: string
              example: "Place premium avec avantages exclusifs"
            avantages:
              type: string
              example: "Accès lounge, parking dédié, restauration incluse"
        statistiques:
          type: object
          properties:
            total:
              type: integer
              example: 100
            disponibles:
              type: integer
              example: 75
            reservees:
              type: integer
              example: 10
            vendues:
              type: integer
              example: 15
            inactives:
              type: integer
              example: 0

    FichierInfo:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "c3d4e5f6-7890-12cd-ef12-3456789012cd"
        nom_fichier:
          type: string
          example: "affiche-coldplay.jpg"
        type_mime:
          type: string
          example: "image/jpeg"
        type_fichier:
          type: string
          enum: [photo, affiche, document]
          example: "affiche"
        taille_bytes:
          type: integer
          example: 204800
        date_upload:
          type: string
          format: date-time
          example: "2024-01-15T14:30:00Z"
        url_contenu:
          type: string
          format: uri
          example: "/v1/evenements/e7b8c2f1-1234-4c1a-8b9f-12ef34567890/fichiers/c3d4e5f6-7890-12cd-ef12-3456789012cd/contenu"

    EvenementStats:
      type: object
      properties:
        total_places:
          type: integer
          example: 2100
        places_disponibles:
          type: integer
          example: 1875
        places_reservees:
          type: integer
          example: 130
        places_vendues:
          type: integer
          example: 95
        taux_occupation:
          type: number
          format: float
          example: 10.7