openapi: 3.1.0
info:
  title: API Gestion d'Événements
  version: 1.1.0
  description: >
    API pour gérer les événements, les lieux et les types d'événements.
    Authentification requise pour la création d'événements.

servers:
  - url: https://api.reny_event.com/v1
    description: Serveur de production
  - url: http://localhost:3000/v1
    description: Serveur local de développement

paths:
  /auth/connexion:
    post:
      summary: Connexion utilisateur
      description: Authentifie un utilisateur et retourne un cookie JWT
      tags:
        - Authentification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnexionRequest'
            example:
              login: "admin"
              mot_de_passe: "admin123"
      responses:
        '200':
          description: Connexion réussie
          headers:
            Set-Cookie:
              schema:
                type: string
              example: "session_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...; HttpOnly; Path=/; Expires=Wed, 21 Oct 2024 07:28:00 GMT"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnexionResponse'
        '401':
          description: Identifiants invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/deconnexion:
    post:
      summary: Déconnexion utilisateur
      description: Déconnecte l'utilisateur en supprimant le cookie JWT
      tags:
        - Authentification
      responses:
        '200':
          description: Déconnexion réussie
          headers:
            Set-Cookie:
              schema:
                type: string
              example: "session_token=; HttpOnly; Path=/; Expires=Thu, 01 Jan 1970 00:00:00 GMT"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Déconnexion réussie"

  /evenements:
    post:
      summary: Créer un nouvel événement
      description: >
        Crée un événement avec ses tarifs, types de places et fichiers associés.
        REQUIERT une authentification JWT (cookie session_token)
      tags:
        - Événements
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvenementCreation'
            example:
              titre: "Concert Coldplay 2024"
              description: "Concert exceptionnel de Coldplay avec setlist spécial"
              date_debut: "2024-07-15T20:00:00Z"
              date_fin: "2024-07-15T23:30:00Z"
              type_id: "123e4567-e89b-12d3-a456-426614174000"
              lieu_nom: "Stade Barea Mahamasina"
              lieu_adresse: "Mahamasina, Antananarivo"
              lieu_ville: "Antananarivo"
              lieu_capacite: 5000
              tarifs:
                - type_place_id: "456e4567-e89b-12d3-a456-426614174000"
                  prix: 250000
                  nombre_places: 100
                - type_place_id: "567e4567-e89b-12d3-a456-426614174000"
                  prix: 75000
                  nombre_places: 2000
              fichiers:
                - nom_fichier: "affiche.jpg"
                  type_mime: "image/jpeg"
                  type_fichier: "affiche"
                  donnees_bytea: "/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAABAAEDASIAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAv/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAX/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwCdABmX/9k="
      responses:
        '201':
          description: Événement créé avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "e7b8c2f1-1234-4c1a-8b9f-12ef34567890"
                  message:
                    type: string
                    example: "Événement créé avec succès"
        '400':
          description: Données invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Non authentifié
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erreur interne du serveur

  # ... (les autres endpoints restent inchangés)

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: session_token

  schemas:
    ConnexionRequest:
      type: object
      required:
        - login
        - mot_de_passe
      properties:
        login:
          type: string
          example: "admin"
        mot_de_passe:
          type: string
          example: "admin123"

    ConnexionResponse:
      type: object
      properties:
        message:
          type: string
          example: "Connexion réussie"
        utilisateur:
          type: object
          properties:
            id:
              type: string
              format: uuid
              example: "123e4567-e89b-12d3-a456-426614174000"
            login:
              type: string
              example: "admin"

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: "Message d'erreur détaillé"

    EvenementCreation:
      type: object
      required:
        - titre
        - date_debut
        - date_fin
        - type_id
        - lieu_nom
        - lieu_adresse
        - lieu_ville
        - tarifs
      properties:
        titre:
          type: string
          minLength: 1
          maxLength: 150
          example: "Concert Coldplay 2024"
        description:
          type: string
          example: "Concert exceptionnel"
        date_debut:
          type: string
          format: date-time
        date_fin:
          type: string
          format: date-time
        type_id:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        lieu_nom:
          type: string
          minLength: 1
          maxLength: 150
          example: "Stade Barea Mahamasina"
        lieu_adresse:
          type: string
          example: "Mahamasina, Antananarivo"
        lieu_ville:
          type: string
          maxLength: 100
          example: "Antananarivo"
        lieu_capacite:
          type: integer
          minimum: 0
          nullable: true
          example: 5000
        tarifs:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/TarifCreation'
        fichiers:
          type: array
          items:
            $ref: '#/components/schemas/FichierCreation'

    TarifCreation:
      type: object
      required:
        - type_place_id
        - prix
        - nombre_places
      properties:
        type_place_id:
          type: string
          format: uuid
          example: "456e4567-e89b-12d3-a456-426614174000"
        prix:
          type: number
          format: float
          minimum: 0
          example: 250000
        nombre_places:
          type: integer
          minimum: 1
          example: 100

    FichierCreation:
      type: object
      required:
        - nom_fichier
        - type_mime
        - type_fichier
        - donnees_bytea
      properties:
        nom_fichier:
          type: string
          maxLength: 255
          example: "affiche.jpg"
        type_mime:
          type: string
          maxLength: 100
          example: "image/jpeg"
        type_fichier:
          type: string
          enum: [photo, affiche, document]
          example: "affiche"
        donnees_bytea:
          type: string
          format: byte
          description: "Données binaires encodées en base64"
          example: "/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAABAAEDASIAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAv/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAX/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwCdABmX/9k="

    # ... (les autres schemas pour les réponses restent inchangés)